<div class="ui" ng-controller="ffDashboard">
  <div class="container">
    <div class="ui stackable grid">
      <div class="two wide column"></div>
      <div class="six wide column">
        <div class="row">
          <a ui-sref="freshfoods-view-all({ v: 0 })">
            <div class="ui clearing circular segment stats">
              <h2 class="ui header">
                {{ stats.foodItems.Available + stats.foodItems.Unavailable }} Food Items
                <div class="sub header">
                  Available : {{ stats.foodItems.Available }}
                </div>
                <div class="sub header">
                  Unavailable : {{ stats.foodItems.Unavailable }}
                </div>
              </h2>
            </div>
          </a><br><br>
        </div>
        <div class="row">
          <a ui-sref="freshfoods-view-all({ v: 1 })">
            <div class="ui clearing inverted circular segment stats">
              <h2 class="ui header">
                {{ stats.foodCategories.total }} Food Categories
                <!-- <div class="sub header" style="color:white;">
                  Available : {{ stats }}
                </div> -->
              </h2>
            </div>
          </a>
        </div>
      </div>
      <div class="six wide column">
        <div class="field">
          <div class="ui floating message" ng-class="{ success: config.done, error: !config.done }">
            <div class="header">
              Note
            </div>
            <p ng-if="config.done">
              Shop open/close already configured for today.
            </p>
            <p ng-if="!config.done">
              Shop open/close not configured for today.
            </p>
          </div>
        </div><br>
        <form class="ui form" ng-submit="submitForm(0)">
          <div class="field">
            <label for="closedDate">Date</label>
            <input type="text" name="closedDate" placeholder="Date" id="closedDate" readonly ng-model="config.closedDate">
          </div>
          <div class="field">
            <label for="closedTimeFrom">Closed Time From</label>
            <input type="time" name="closedTimeFrom" id="closedTimeFrom" ng-model="config.closedTimeFrom">
          </div>
          <div class="field">
            <label for="closedTimeTo">Closed Time To</label>
            <input type="time" name="closedTimeTo" placeholder="Date" id="closedTimeTo" ng-model="config.closedTimeTo">
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox" id="isClosed1">
              <input type="checkbox" tabindex="0" class="hidden" id="isClosed">
              <label for="isClosed">Is shop closed today?</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox" id="discountForAll1">
              <input type="checkbox" tabindex="0" class="hidden" id="discountForAll">
              <label for="discountForAll">Give discount on all foods?</label>
            </div>
          </div>
          <div class="field" ng-show="config.discountForAll">
            <div class="ui right labeled left icon input action" style="width:40%;">
              <i class="tag icon"></i>
              <input type="number" placeholder="Enter discount rate" min="0" max="100" step="0.5" ng-model="discount">
              <button type="button" class="ui teal right labeled icon button" style="padding-right:1.2em !important;" ng-click="submitForm(1)">
                %&nbsp;&nbsp;&nbsp;Save
              </button>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox" id="discountForCategory1">
              <input type="checkbox" tabindex="0" class="hidden" id="discountForCategory">
              <label for="discountForCategory">Give discount on the basis of food categories?</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox" id="discountForItem1">
              <input type="checkbox" tabindex="0" class="hidden" id="discountForItem">
              <label for="discountForItem">Give discount on the basis of food items?</label>
            </div>
          </div><br>
          <button class="ui button" type="submit">Save</button>
        </form>
      </div>
      <div class="two wide column"></div>
    </div>



  </div>
</div>
